[2020-08-08 18:29] Samyak2 opened #1 "Microsoft Edge Support"
Add support for [Microsoft Edge browser](https://www.microsoft.com/en-us/edge).

 - Add a class named `Edge` in [`browsers.py`](https://github.com/Samyak2/browser-history/blob/master/browser_history/browsers.py).
 - Support all platforms:
    - [x] Windows
    - [ ] Mac OS
    - [ ] Linux (Edge is not available on Linux yet)

[2020-08-08 18:33] Samyak2 opened #2 "Chromium support for Windows and Mac OS"
Chromium is currently only supported on Linux.

# Required features

 - [ ] Add `windows_path`
 - [ ] Add `mac_path`

# Related code

https://github.com/Samyak2/browser-history/blob/49bc1f16cb41f772c553c6768ea66116ec43cbfd/browser_history/browsers.py#L34-L45

[2020-08-08 18:41] Samyak2 opened #3 "Sort histories after retrieving"
Histories for individual profiles are sorted, but when combining histories from multiple profiles they are simply concatenated.

# Required features

 - Sort histories based on the timestamp (first value in the tuples) after concatenating. If you have any other ideas to go about this, feel free to comment.
 - Add a `sort` parameter to the `history` method.

# Related code

https://github.com/Samya

[2020-08-12 08:17] Samyak2 commented on #1
[Here](https://www.foxtonforensics.com/browser-history-examiner/microsoft-edge-history-location) is a useful resource for the history file location in Edge.

[2020-08-23 09:43] MadhavJivrajani opened #4 "[FEATURE REQ] provide option to export in readable and platform independant formats"
It would be helpful if the browser histories could be exported (optionally) or displayed in a user-specified, more readable format like `json` or `csv` as opposed to a list of `datetime.datetime, url` tuples.

Please let me know if I'm missing anything or if this was done by design :smile:

[2020-08-23 16:55] Samyak2 opened #5 "[FEATURE REQ] Implement a basic CLI"
# Why?

Currently, the only way to use browser-history is through a REPL or in a module. A CLI would make this a useful general tool rather just a python package.

# Details

[`argparse`](https://docs.python.org/3/library/argparse.html) would be the ideal module to use when implementing this.

The following CLI flags should be added as part of this issue:
 - `-b`, `--browser`: Browser name to get

[2020-08-23 17:00] Samyak2 opened #6 "[FEATURE REQ] Export options in CLI"
# Description

Add CLI flags to export the data into a file in different formats (such as JSON, CSV, etc).

# Implementation

#4 and #5 must be closed before starting work on this.

Some ideas for the flags:
 - `-e`, `--export`: Including this flag should export it in a default format and an optional value for export format.

[2020-08-31 06:39] Samyak2 opened #8 "[FEATURE REQ] Provide an interface to get history from all available browsers"
**Is your feature request related to a problem? Please describe.**

Currently, the API only allows extracting history only if the browser is known. A function to extract history from any and all available browsers would be useful.

**Describe the solution you'd like**

A function `history()` or `get_history()` under `browser_history.utils` seems like a good place for the function to be.

The funct

[2020-09-03 14:36] sujanchegu commented on #3
Can I work on this issue?

[2020-09-03 15:23] Samyak2 commented on #3
Sure, @sujanchegu go ahead!

[2020-09-04 11:09] sujanchegu opened #10 "[FEATURE REQ] Output sorted according to domain-name."
**Is your feature request related to a problem? Please describe.**
It would be helpful if the data provided by the lib can be sorted according to the domain name.
Adding the above feature also allows the option of user providing an optional domain-name so that data related to the particular  domain can be given back to the user.

**Describe the solution you'd like**
A method in utils.py which sort

[2020-09-04 11:25] sujanchegu commented on #10
I want to work on this issue.

[2020-09-04 12:14] #3 closed

[2020-09-04 12:15] Samyak2 commented on #10
Sure :+1:

[2020-09-05 04:25] #10 closed

[2020-09-07 15:00] sujanchegu opened #13 "Refactor output and rename some classes & modules"
As new developments such as defining a new class & Adding support for data output types like JSON & CSV are in the pipe, Renaming some existing components including methods, modules would avoid confusion.

Instead of outputting a list of tuples, the output can be a object supporting operations to convert it to different formats (such as a dictionary, CSV, JSON - #4)

[2020-09-07 15:04] sujanchegu commented on #13
I want to work on this issue.

[2020-09-09 05:10] sujanchegu commented on #4
- Adding label `good-first-issue` would be helpful to beginners.
- Methods Fixing this issue are expected to be added to browser_history.generic.Outputs

[2020-09-09 07:18] Addilergy commented on #4
hi, I had a question, how would you want the Json object structure to look like?
The idea I had in mind is
[code]
just confirming if this is a good idea

[2020-09-09 09:05] Samyak2 commented on #4
@nihal-ramaswamy that looks good. I can think of two ways to do this.

 - [JSON lines](https://jsonlines.org/): Here, each line in the file will be a JSON with time and URL, similar to a CSV file.
[code]
 - Plain JSON: This would allow us to have some metadata such as browser name, platform, etc. in the exported file. Something like this
[code]
   For this, the metadata will have to be added in `b

[2020-09-09 09:07] Samyak2 commented on #5
Useful article for packing a CLI with a python package: [Command Line Script](https://python-packaging.readthedocs.io/en/latest/command-line-scripts.html)

[2020-09-09 12:18] #13 closed

[2020-09-14 07:28] sujanchegu commented on #4
I work on this?

[2020-09-14 07:31] nihal-ramaswamy commented on #4
idk, probably will start soon

On Mon, 14 Sep 2020 at 12:59, Sujan Chegu <notifications@github.com> wrote:

[2020-09-14 12:45] #8 closed

[2020-09-18 11:18] Samyak2 opened #17 "[BUG] Errors in documentation"
**Describe the bug**

 - Grammar mistake in the main page
![image](https://user-images.githubusercontent.com/34161949/93591439-fad38700-f9cd-11ea-9deb-5192b64e932c.png)
 - The doc for `browsers.Chromium` says "Google Chrome"
![image](https://user-images.githubusercontent.com/34161949/93591531-32daca00-f9ce-11ea-9573-7445a9832afc.png)
 - (Not an error or a bug) the quick start could demonstrate the

[2020-09-18 11:26] sujanchegu commented on #17
I'll work on this.

[2020-09-18 11:31] Samyak2 commented on #17
Sure.

[2020-09-18 17:46] sujanchegu opened #19 "[BUG] Cyclic Import detected."
**Describe the bug**
While performing checks before opening a PR, I noticed `pylint` generated
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Root directory of the local repo' & activate your env.
2. Run 'pylint browser_history'
3. Don't have to Scroll :)
4. See error

**Expected behavior**
Those warnings shouldn't be generated.

**Screenshots**
![image](https://user-images.gi

[2020-09-18 19:24] Samyak2 opened #20 "[FEATURE REQ] Case in-sensitive browser name matching in CLI"
**Is your feature request related to a problem? Please describe.**

Currently the CLI (#16) only matches browsers based on the exact class name (Ex: `Chrome`, `Firefox`)

**Describe the solution you'd like**

CLI should be able to identify and match in a case-insensitive manner. For example:
[code]
should be the same as
[code]

**Describe alternatives you've considered**

Could do fuzzy matching b

[2020-09-18 19:26] Samyak2 commented on #19
One fix could be moving `get_history` to a different file (other than `__init__.py` or `generic.py`)

[2020-09-19 11:19] #5 closed

[2020-09-19 13:33] MadhavJivrajani commented on #20
Hi!
Can I work on this?

[2020-09-19 13:34] Samyak2 commented on #20
Go ahead!

[2020-09-19 13:40] MadhavJivrajani commented on #20
@Samyak2 just to be sure, I make changes to ensure that the parameter passed in [this](https://github.com/pesos/browser-history/blob/d4e2ea4738758bfdb0bc1b780b6b27bdf1255f4e/browser_history/cli.py#L47) line is case insensitive right?

[2020-09-19 13:40] Samyak2 commented on #20
Yes

[2020-09-19 14:14] #20 closed

[2020-09-19 18:31] Samyak2 opened #22 "[TESTS] Need more tests!"
# The issue

Current code [test coverage](https://codecov.io/gh/pesos/browser-history) is around ~~65%~~ 88% which may not seem too bad, but the actual situation is worse.

The tests are currently only for Firefox on Linux. 😬

# Required tests

**Browsers**

|                   | Platform | Linux | Mac | Windows |
|----------------|------------|---------|--------|---------|
| Browser     |

[2020-09-19 18:33] Samyak2 commented on #1
[This PR](https://github.com/kcp18/browserhistory/pull/15) in a related repo might be useful in implementing the same.

[2020-09-21 12:42] #17 closed

[2020-09-23 03:36] sujanchegu commented on #19
Can you explain the thought process of why it shouldn't be moved to `__init__.py` and `generic.py` ?

[2020-09-23 04:52] Samyak2 commented on #19
My reasoning behind not adding it in `__init__` was this: the `get_history` function requires `generic.Browser`, so if you import that in `__init__` it will lead to `generic` getting imported everytime the module is loaded.

I took a second look at it now and it seems that `generic` is loaded anyway (through `browsers`) and so you could have `get_history` in `__init__` as long as the namespace is

[2020-09-23 05:36] sujanchegu commented on #19
Right. I'll work on this.

[2020-09-24 04:38] SuvigyaJain1 opened #28 "Error appears when attempting to fetch browser history from specific browser using fetch [BUG]"
**Describe the bug**
Method for fetching specific browser history doesn't work
Error:
[code]
**To Reproduce**
Steps to reproduce the behavior:
Followed the same steps as in README.
[code]

**Expected behavior**
No errors

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Browser Firefox
 - `browser-history` Version v0.2.0,
 - Python version:  3.7.2

[2020-09-24 05:22] Samyak2 commented on #28
Oops! That's a mistake in the documentation.

Browsers must be initialized before using them (instead of using the classes directly).
[code]

[2020-09-25 09:07] #19 closed

[2020-09-26 02:59] Samyak2 commented on #28
Fixed in #29

[2020-09-26 02:59] #28 closed

[2020-09-27 10:35] MadhavJivrajani opened #30 "[ENHANCEMENT] Removal of TODO comment"
Hi,
I forgot to remove the `TODO` [comment](https://github.com/pesos/browser-history/blob/b371317d51812068c7e6c32b2a16fead62aba185/browser_history/cli.py#L46) while sending in PR #21

Maybe a `first-timers-only` issue?

[2020-09-27 18:05] sachmo99 commented on #30
hey there! Can you assign this to me? I wish to submit a PR under first-timers-only section (This would be my first PR to a public repo of open source :) )

[2020-09-27 18:37] Samyak2 opened #31 "[BUG] Browser.profiles() returns only the directory name"
**Describe the bug**

In `generic.Browser`, the `profiles()` function returns only the last part of the path (the directory name).
For example, if a browser has profiles stored as such: `profiles/profile1`, `profiles/profile2`, etc. `profiles()` will return `["profile1", "profile2"]` which will fail in `fetch()` since the intermediate directory is missing.

This does not affect any of the existing

[2020-09-27 18:41] Samyak2 commented on #30
Go ahead! Let us know if you need any help (either here or on the [slack](https://pesos.github.io/get-started/communication-channels)).
Also, I would suggest going through the [contribution guide](https://browser-history.readthedocs.io/en/latest/contributing.html) (at least the short version)

[2020-09-27 19:04] Samyak2 opened #32 "[BROWSER] Opera support"
## Describe the browser and provide any links if available

Browser name: [Opera](https://www.opera.com/hi)

Opera is based on Chromium, so it should be easy to add support for it given you find the history location. The `history_SQL`, `history_file`, etc. can be set to be the same as Chrome/Chromium. Look at the implementation of Edge for ideas (#24)

## List the platforms supported by the browse

[2020-09-27 19:08] Samyak2 opened #33 "[BROWSER] Opera GX Support"
## Describe the browser and provide any links if available

Browser name: [Opera GX](https://www.opera.com/hi/gx)

Opera GX is based on chromium, so it should be easy to add support for it. Take a look at the implementation of Edge (#24) for ideas.

## List the platforms supported by the browser to be added
Platforms:
 - [ ] Windows

[2020-09-28 03:21] lucasace commented on #31
Can I get assigned to this?

[2020-09-28 07:45] Samyak2 commented on #31
Sure!

[2020-09-28 07:49] Samyak2 commented on #4
I think it's better to open separate issues for each format (CSV, JSON, YAML, etc), this will help contributors better understand what's required to be done.

[2020-09-28 07:49] #4 closed

[2020-09-28 07:54] Samyak2 opened #34 "[FEATURE REQ] Export outputs to CSV"
**Is your feature request related to a problem? Please describe.**

Currently, the outputs are a tuple of urls and timestamps. It would be useful to have an option to export this data to a readable file such as CSV.

**Describe the solution you'd like**

A function in `generic.Outputs` called `to_csv` that exports the history to the given filename in CSV format.

**Describe alternatives you've con

[2020-09-28 07:58] Samyak2 opened #35 "[FEATURE REQ] Export outputs to JSON"
**Is your feature request related to a problem? Please describe.**

Currently, the outputs are a tuple of urls and timestamps. It would be useful to have an option to export this data to a readable file such as JSON.

**Describe the solution you'd like**

A function in `generic.Outputs` called `to_json` that exports the history to the given filename in JSON format.

The exact structure of the JSON

[2020-09-28 08:10] lucasace commented on #35
Only the function to be created right , does it need to create the cli as well?

[2020-09-28 08:10] lucasace commented on #35
I would like to do this as well

[2020-09-28 10:22] lucasace commented on #31
I fixed this issue but this brings up the following bug while running
[code]
I printed out the value in profile_dirs  to show what I did
Can you check this out and tell me ??

[2020-09-28 11:13] sachmo99 commented on #30
Yeah sure. Thanks a lot! Can I start on Oct 1? for the hacktoberfest :)

[2020-09-28 11:17] sujanchegu commented on #30
Yeah No problem

[2020-09-28 11:53] ObaraEmmanuel commented on #34
Hello, I would like to begin my contribution to your project through this issue. I was thinking, what if we have cli arguments to specify the formats (whether CSV, JSON or YAML) and separate arguments to specify output to file. This will make it possible to display for instance JSON format directly on the command line without needing to output to file unless the output to file arguments have been

[2020-09-28 12:10] Samyak2 commented on #31
Can you open a draft PR from your branch so I can checkout the code?

[2020-09-28 12:17] Samyak2 commented on #34
Hi, that's a good idea! Can you suggest/copy this idea to #6, I feel it belongs there and people looking to contribute to that issue will get an idea on how to go about it.
There's a PR already for #6, but there hasn't been much activity on it, you're welcome to try and fix both this issue and #6.

[2020-09-28 12:24] lucasace commented on #31
PR opened

[2020-09-28 13:46] Samyak2 commented on #35
Hi. Since this is a beginner friendly repo, I want to keep as many unassigned issues open as possible (to make it easier for people to contribute) and since you're already assigned to another issue, I'll keep this issue open for others if they're interested. You're welcome to do this once your other PR is merged.

[2020-09-28 15:24] ObaraEmmanuel commented on #6
**Additional suggestions**

- optional flags `-f, --format` to specify the output format (CSV, JSON, YAML and any other implementation). Based on current implementation and for the sake of backward compatibility the default format is CSV. The  arguments should of course be case insensitive.

- optional flags `-o, --output` to specify the file to which the history data is to be written. If not prov

[2020-09-28 15:43] ObaraEmmanuel commented on #34
I can fix both issues.

[2020-09-28 18:07] Samyak2 commented on #34
Sure! Thank you.

Just to confirm, by both issues you mean this and #6?

[2020-09-29 05:00] tanya4067 commented on #34
hey, I'd like to contribute

[2020-09-29 06:50] Samyak2 commented on #34
Hey @tanya4067, sorry this issue was taken by @ObaraEmmanuel and he has already sent a PR for it. Take a look at the other issues.

[2020-09-29 08:54] #6 closed

[2020-09-29 08:54] #34 closed

[2020-09-29 18:06] SanchitJain123 commented on #35
Hi @Samyak2. Can I work on this, I'll open PR during Hacktoberfest.

[2020-09-29 18:48] Samyak2 commented on #35
Sure

[2020-09-30 14:25] sumana-19 commented on #30
Hello, can you assign this to me? I'd like to work on this issue.
Thanks.

[2020-09-30 18:42] MadhavJivrajani commented on #30
Hi @sumana-19 ,
Thank you for your interest in contributing! This issue is already assigned to @sachmo99 , we'll let you know if anything changes!

In the meantime please feel free to let us know if we can help you out in any way should you be interested in working on any of the other issues that have been put up! 😄

[2020-10-01 07:23] LawJarp-A commented on #32
Hey, I'd like to work on this issue

[2020-10-01 07:36] sujanchegu commented on #32
Yes! Go ahead. Any idea on what platforms you want to add support for? This helps us in assigning the remaining ones to anybody else. Also, If you need any help, Contact us here or on our slack channel.

[2020-10-01 07:39] LawJarp-A commented on #32
Linux and windows, though there seems to be a problem with path, if opera is installed with snap store directly in linux

[2020-10-01 07:39] sujanchegu commented on #32
Samyak, the maintainer will assign it to you shortly.

[2020-10-01 08:25] ObaraEmmanuel commented on #22
I can add tests for Firefox in windows

[2020-10-01 08:29] sujanchegu commented on #22
Absolutely! Go ahead. If you need any help, Contact us here or on tbe slack channel. The Maintainer will assign you shortly.

[2020-10-01 08:42] Samyak2 commented on #32
Is the path different when installed through snap?

[2020-10-01 08:44] Samyak2 commented on #22
Sure! I can't assign you here since this is a general issue, but please go ahead and send a PR.
Thank you.

[2020-10-01 09:23] LawJarp-A commented on #32
In Ubuntu, yes, installing Opera through the store puts the folder in snaps folder, not sure if that's the case for only Opera or other Browsers too

[2020-10-01 10:43] rahulmakhija30 commented on #33
Could I work on this?

[2020-10-01 13:25] Samyak2 commented on #33
Sure.

[2020-10-01 13:27] Samyak2 commented on #32
That's a tricky case. Is the snaps folder under the user's home directory or somewhere else?

[2020-10-01 13:38] LawJarp-A commented on #32
Yes, its /home/user/snaps

[2020-10-01 13:48] siddhantrao23 opened #42 "[BROWSER] Brave support"
**Describe the browser and provide any links if available**
Browser name: [Brave](https://brave.com/)
Implementation would be very similar to Chrome/Chromium as brave has now moved to chromium, but with a slightly different history path.

**List the platforms supported by the browser to be added**
- [ ] Windows
- [x] Linux
- [ ] Mac OS

[2020-10-01 13:57] ObaraEmmanuel opened #43 "[BUG]Incomplete fetching of history in Firefox"
**Describe the bug**
When fetching history for Firefox with `browsers.Firefox().fetch().get()`, only partial history is returned. Sometimes, nothing is returned. I noticed this when I was writing tests for Firefox on Windows. I cleared my browser history and went to five different sites but on fetching nothing was returned. Fortunately, In the process, I was also able to trace the source of the bu

[2020-10-01 13:58] ObaraEmmanuel commented on #43
I can have a patch for this ready in a few minutes

[2020-10-01 14:08] Samyak2 commented on #43
Thank you for reporting this! That explains some inconsistencies I found when writing the tests for firefox on linux.
I'll assign you right away

[2020-10-03 17:06] SanchitJain123 commented on #35
@Samyak2 How can I access the metadata from `generic.Outputs` instance that you have mentioned in the comment, sorry but I was unable to find the metadata fields required in the plain JSON format from the same.

[2020-10-03 18:10] sujanchegu opened #49 "[FEATURE REQ] Metadata in the `Outputs` object"
**Is your feature request related to a problem? Please describe.**
As it is mentioned in #4 , the metadata has to be added to the `Outputs` object.

**Describe the solution you'd like**
Variables in `Outputs` class and assignment of the variables appropriately.

**Additional context**
I feel the following would be the needed metadata in any `Outputs` object:
1. The browser name
2. The current Plat

[2020-10-03 18:10] sujanchegu commented on #49
@Samyak2 Please take a look.

[2020-10-03 18:11] sujanchegu commented on #35
Hey @SanchitJain123 , So by `metadata` he means the basic properties of an `Outputs` instance such as the name of the browser and the like. I've opened an issue now #49 .  I feel that issue should be solved after solving this issue. If you want to work on that issue, you can comment on that issue and get it assigned to you. However, if you want to continue with this, go right ahead. Any help you n

[2020-10-03 18:13] sujanchegu commented on #49
@Samyak2 consider adding the `hacktoberfest` and `good-first-issue` labels.

[2020-10-03 18:19] SanchitJain123 commented on #35
Thanks for the information @sujanchegu. I have added a function named to_json referred by @Samyak2. I feel the only thing missing is `metadata` for the Plain JSON format. So, should I open a pull request for this or is it mandatory to add metadata in the Plain JSON format for this issue?

[2020-10-03 18:26] sujanchegu commented on #35
@SanchitJain123, I would say open the PR.  Let the assignee who works on that issue manage the metadata part. That way, it's elegant and would mean that issues are solved in their corresponding PRs.

[2020-10-03 18:28] SanchitJain123 commented on #35
Thank you @sujanchegu for helping.

[2020-10-03 18:57] Samyak2 commented on #49
Looks good. Just a few things. What format would the metadata variables be in:
1. Python objects/classes: for example, the browser will be a class of `generic.Browser` and the platform will be `utils.Platform`. We'll need separate functions to get only the browser/platform name.
2. Only the names: in this case, the metadata variables will be plain strings.

I feel the former approach is better, bu

[2020-10-04 07:26] HardipinderS commented on #35
is a branch created for this ?

[2020-10-04 07:33] sujanchegu opened #51 "[FEATURE REQ] Fetching Bookmarks"
**Is your feature request related to a problem? Please describe.**
Since the data related to the bookmarks will also be stored in sql files, adding support to fetch those would be an enhancement and additional functionality.

**Describe the solution you'd like**
In the `Outputs` object, add a member function similar to `get` to fetch the bookmarks of the browsers associated with that `Outputs` obj

[2020-10-04 07:39] sujanchegu opened #52 "[BROWSER] Support for Internet Explorer"
**Describe the browser and provide any links if available**
Browser name: Internet Explorer

**List the platforms supported by the browser to be added**
 Platforms: Windows, Linux, Mac OS

[2020-10-04 07:41] Samyak2 commented on #51
This will have to be added to each browser. It will be implemented in `generic.Browser` and the browser classes will have to provide a SQL for getting the bookmarks.

[2020-10-04 07:46] sujanchegu opened #53 "[BROWSER] Support for Epic"
**Describe the browser and provide any links if available**
Browser name: Epic Privacy Browser

**List the platforms supported by the browser to be added**
 Platforms: Windows, Mac OS

[2020-10-04 07:49] Samyak2 commented on #52
AFAIK Internet explorer stores the history in a different type of DB called Extensible Storage Engine database ([source](https://superuser.com/a/1226691)).
This is also used by the older version of Edge (pre-chromium).

We would need an additional dependency to parse these DBs and I'm not sure if there is an easy to use library for ESE DBs in python.
Also, internet explorer is being phased out now

[2020-10-04 07:50] sujanchegu commented on #35
No separate branch is created for this. However, this issue is already assigned to somebody else. You can review the above PR with your inputs/ideas or take up any other issue. :smile:

[2020-10-04 07:59] sujanchegu commented on #51
Having a separate branch for bookmarks would be ideal instead of adding it to master itself.

[2020-10-04 08:19] Samyak2 opened #54 "[BROWSER] Support for UC Browser"
** Describe the browser and provide any links if available **
Browser name: UC Web

** List the platforms supported by the browser to be added **
 Platforms: Windows, Linux, Mac OS

Based on chromium, should be easy to add.

[2020-10-04 08:27] sujanchegu opened #55 "[FEATURE REQ] Fetch Cookie Data"
**Is your feature request related to a problem? Please describe.**
Add implementation to fetch cookie data from the sql files.

**Describe the solution you'd like**
A Method in `generic.Outputs` class that can be called to get a dictionary / list / any other data structure that stores the cookies.

**Describe alternatives you've considered**
None

**Additional context**
A security implication as c

[2020-10-04 08:56] #30 closed

[2020-10-04 09:08] #43 closed

[2020-10-04 09:18] #33 closed

[2020-10-04 11:51] Samyak2 commented on #32
Mac OS support is yet to be added, re-opening this if anyone wants to work on it.

[2020-10-04 11:53] sujanchegu commented on #32
@Samyak2 Remove the assignee so that it appears to a unassigned issue.

[2020-10-04 11:54] sujanchegu commented on #22
@Samyak2 Add the new browsers(Opera, OperaGX etc) to the checklist in the PR Template.

[2020-10-04 12:00] #31 closed

[2020-10-04 12:03] Samyak2 commented on #51
Yes, better to have it in a separate branch for now

[2020-10-04 12:25] abhisinha2001 opened #56 "[BUG] Mac OS safari Permission Error"
**Describe the bug**
When I run the get_history() function I get the following error on my Mac.
[code]
**To Reproduce**
Steps to reproduce the behavior:
Run the following code on Mac Terminal:
[code]

**Expected behavior**
Should produce the history for safari browser

**Desktop (please complete the following information):**
 - OS: [Mac OS]
 - Browser [safari]
 - `browser-history` Version [e.g. v0

[2020-10-04 12:28] Samyak2 commented on #56
Which version of Mac OS are you on (Mojave, Catalina, etc)?

[2020-10-04 13:36] abhisinha2001 commented on #56
The version is Catalina.
It may not be a Catalina specific issue as it was running perfectly a couple of commits before.

[2020-10-04 14:02] Samyak2 commented on #56
I cannot reproduce this error on Mojave even when Safari is running.
Can you if the history file is accessible or if it exists?

[2020-10-05 09:40] ObaraEmmanuel commented on #22
@Samyak2 I realize the workflows you have written only run on ubuntu so you could not realize that after merging PR #39 tests are now failing on Windows. In fact, this particular PR breaks browser-history on Windows altogether. Please try running the tests on Windows and see what I am talking about.

[2020-10-05 10:58] Samyak2 commented on #22
@ObaraEmmanuel yes, I tried running it on windows and it failed :grimacing:. It is due to the path separator being hardcoded. Can you open a separate issue for this?
Also I did not realize that GitHub actions supported platforms others than Ubuntu. I will open another issue for that. This should prevent future issues like these.

Thank you for reporting this!

[2020-10-05 11:30] ObaraEmmanuel commented on #22
Yes, i will open an issue for that ASAP.

[2020-10-05 11:41] Samyak2 opened #57 "[FEATURE REQ] Add Windows and Mac OS to GitHub workflow"
## Is your feature request related to a problem? Please describe.

The [tests GitHub workflow](https://github.com/pesos/browser-history/blob/master/.github/workflows/python-package.yml) currently only tests on `ubuntu-latest`. This can lead to some platform specific bugs being ignored (such as [this](https://github.com/pesos/browser-history/issues/22#issuecomment-703521333). It could have been pre

[2020-10-05 11:53] ObaraEmmanuel opened #58 "[BUG] Fetching history failing on Windows"
**Describe the bug**
History fetching fails almost completely on windows after commit e00280bcbaa5550b2e3b3f2fd6a9c3a2128775a4 .

**To Reproduce**
Run the following code at the terminal
[code]
This raises the following errors
[code]

**Expected behavior**
This should return history for all installed browsers but instead this error is thrown

**Desktop (please complete the following information):**

[2020-10-05 14:28] lucasace commented on #58
Really sorry for this, the problem arised because glob according to https://docs.python.org/3/library/glob.html is based on unix pattern matching thus explaining the success for Linux and MAC-OS, I should have checked for windows as well,
Ill give it a fix as it arised from my PR

[2020-10-05 15:00] ObaraEmmanuel commented on #58
No problem, once the workflows are updated to include windows and macOS, such problems can be avoided.

[2020-10-05 17:03] lucasace commented on #58
@Samyak2 I fixed this and tested this on a windows system and it works , but before i set up a PR, I have a error arising due to the opera class
If I have never installed opera , and run the following code
[code]
then I get the following error
[code]
I am not sure why this arises, so just wanted to report this

[2020-10-06 05:57] Samyak2 commented on #58
@lucasace can you open a new issue for it? It's a valid problem that arises because we're only ignoring `AssertionError` in `get_history`. It needs to be fixed ASAP.

[2020-10-06 06:05] lucasace commented on #58
sure!

[2020-10-06 06:13] lucasace opened #60 "[BUG] Error arrises for uninstalled browsers"
**Describe the bug**
If the user has never installed a particular browser on his OS, then despite not having the browser, the package still tries to find the history file for that browser. A Example would be, if the user is using Linux as his OS and has not installed opera till date, then on running it raises the error,
[code]
**To Reproduce**
To reproduce with opera browser, uninstall opera and r

[2020-10-06 15:19] Samyak2 commented on #57
This has been worked on in the `feature-cli-platforms` branch.

[2020-10-06 15:36] Samyak2 commented on #60
The fix involves adding another except statement near [this](https://github.com/pesos/browser-history/blob/e00280bcbaa5550b2e3b3f2fd6a9c3a2128775a4/browser_history/__init__.py#L22) for `FileNotFoundError` and logging a appropriate message inside it.

[2020-10-06 15:49] Samyak2 opened #62 "[FEATURE REQ] Add workflow for checking documentation."
## Is your feature request related to a problem? Please describe.

Errors in the documentation (due to formatting issue in ReST) are not caught by any of the tests. This could mean that the documentation build could fail silently after a commit/PR merge.

## Describe the solution you'd like

A new GitHub actions workflow under `.github/workflows/` that builds the documentation and exits with a non

[2020-10-06 16:48] #58 closed

[2020-10-06 18:01] #35 closed

[2020-10-06 18:52] #57 closed

[2020-10-06 19:08] Samyak2 opened #63 "[DOC] Document Outputs class"
## Issue

The `generic.Outputs` class is not documented in the docs yet. Considering that this contains functions to export histories to various formats, it is an important class that has to be documented.

Also, the docstrings in that class have some formatting issues that will make the docs build fail. These have to be fixed.

## Describe the solution you'd like

 - A new file `docs/outputs.rst`

[2020-10-06 19:20] ObaraEmmanuel commented on #60
Is anyone handling this one or should I go ahead?

[2020-10-06 19:41] ObaraEmmanuel commented on #60
I have realized there is more to the fix than just this. Your suggested only works when fetching all browsers but when i do something like `browser-history -b opera` in the CLI it still throws that error.
There are two options:

1. Catch the error in `get_history` as well as in [cli.py](https://github.com/pesos/browser-history/blob/62a2427d67cb462bd23717cb83085eb37d0b69e8/browser_history/cli.py#L6

[2020-10-07 02:28] Samyak2 commented on #60
@ObaraEmmanuel you are right, I didn't think of that.

I like the 2nd option as it saves repetitive code and that behaviour of the function is expected. (This should be documented in the docstring though)

[2020-10-07 08:36] Samyak2 opened #65 "[TESTS] add tests for CLI"
## Is your feature request related to a problem? Please describe

The entire `cli.py` module is not covered by any tests. It is important to test the parser behaviour and the expected outputs to ensure that the CLI does not break.

## Describe the solution you'd like

 - Refactor the CLI `cli.main()` function to accept a list of arguments as input instead of taking the args from `sys.argv` directl

[2020-10-07 13:32] ObaraEmmanuel commented on #60
On further digging, I have realized the best place to catch the error is actually in the `generic.Browser.profiles` method. Every other method seems to be starting from here and even when we come to implement functionality for cookies and bookmarks they will most likely begin with determining profiles.

[2020-10-08 02:22] sadielbartholomew commented on #65
Hi, I'd like to take on this Issue as part of Hacktoberfest if that is okay and it is not already assigned to someone externally. Would you be happy to assign me, and accept my contribution as a Hacktoberfest PR should I manage to put in a PR that closes it?

If so, the summary here is very clear so I understand exactly what is wanted. Just to check one aspect though, based on the reference in the

[2020-10-08 04:29] Samyak2 commented on #65
@sadielbartholomew Hi. Sure! Thank you.

Yes, that is correct. The CLI code uses the `argparse` module.

[2020-10-08 04:42] Samyak2 commented on #42
Since Brave is also available for Windows and Mac, I'll keep this issue open even after merging #66

[2020-10-08 05:58] lucasace commented on #51
Heyy, I think I can do this,
1. Can I get assigned
2. Whats the output you looking for? , Is date added and url enough?

[2020-10-08 06:24] sujanchegu commented on #51
Yes. I actually don't know how the bookmarks are actually stored but is it possible to fetch the folder that it is stored along with it? Something like this:
![image](https://user-images.githubusercontent.com/43275517/95422302-af712080-095c-11eb-9409-1041e5d12332.png)

You can see that some bookmarks are stored in folders while some are just put to bookmarks bar. I know this is a troublesome task

[2020-10-08 06:32] lucasace commented on #51
Yea sure ill give it a try

[2020-10-08 13:24] lucasace commented on #51
I opened a Draft Pr, could you check it?

[2020-10-08 16:47] sadielbartholomew commented on #65
Thanks @Samyak2. I expect to be able to put in a PR for this by the end of this weekend, possibly sooner. If I am otherwise busy so that it ends up taking longer I will let you know.

[2020-10-09 05:07] Samyak2 commented on #65
Sure, no hurries.

[2020-10-09 07:54] abhisinha2001 commented on #56
Sure will look into it.

[2020-10-09 13:10] #60 closed

[2020-10-12 06:56] #56 closed

[2020-10-12 06:59] Samyak2 commented on #56
Did this get fixed?

[2020-10-13 08:57] ObaraEmmanuel opened #71 "[BUG] Spurious history records when fetching from chromium based browsers"
**Describe the bug**
Fetching history from chromium based browsers or at least for Opera on windows returns spurious and duplicate records. Some of these URLS are split second redirects that cannot be considered as visits. Once again the SQL query used is faulty and these time its affecting more browsers. I am not sure if other browsers other than opera are affected so it would be prudent to inspe

[2020-10-13 09:14] lucasace commented on #51
I think you can check everything except Safari, UC,IE and Epic

[2020-10-13 10:31] Samyak2 commented on #51
Done

Cool. Looks like python has a standard library to deal with `plist` files called [plistlib](https://docs.python.org/3/library/plistlib.html) :fire:

[2020-10-13 10:43] Samyak2 commented on #71
@ObaraEmmanuel I can reproduce this on Chromium for Linux.
I can also confirm that your SQL query works without giving any spurious records.

I'll assign you to this issue if you're sending a PR for this.

Also, I wanted to say that I really appreciate you testing this package. Thank you!

[2020-10-13 11:07] #1 closed

[2020-10-13 11:07] #32 closed

[2020-10-13 11:10] ObaraEmmanuel commented on #71
@sujanchegu That's okay but would only be fixing it superficially. Modifying the SQL query can fix the problem at the source. Checkout the SQL query I suggested and tell me what you think.

[2020-10-13 11:13] ObaraEmmanuel commented on #71
@Samyak2 First, I am also having a good time working with you guys; builds on my morale to contribute 😀. About the PR, I can get it done.

[2020-10-13 11:37] Samyak2 commented on #71
@ObaraEmmanuel can you direct the PR to `feature-bookmarks` branch since I've done some reformatting of the SQL queries there.

[2020-10-13 12:42] lucasace opened #72 "[FEATURE REQ] Folder based JSON output for bookmarks"
**Is your feature request related to a problem? Please describe.**
It would be great while exporting the bookmarks in json format if they were grouped according to their folder

**Describe the solution you'd like**
The format for the bookmarks json can be seen in [PR 67](https://github.com/pesos/browser-history/pull/67#issuecomment-706741049)

The bookmarks feature can be accessed in `feature-book

[2020-10-13 15:36] ObaraEmmanuel commented on #71
Noted.

[2020-10-13 15:58] gillesigot commented on #22
I can add tests for Chrome on Linux.

[2020-10-13 16:27] sujanchegu commented on #22
Hey! Go ahead! Since it's already been said in previous comments, the issue can't be explicitly assigned to you since it's a general issue. Direct your PR to the master branch.

@Samyak2 you have to add Brave and newly added browsers to the list.

[2020-10-13 18:11] Samyak2 commented on #22
Done!

[2020-10-13 18:36] Samyak2 opened #73 "[FEATURE REQ] Easier way to save outputs"
**Is your feature request related to a problem? Please describe.**

Currently, the only way to save an `Outputs` object to a file (without the CLI) is something like this:
[code]

This can become a little cumbersome at times.

**Describe the solution you'd like**

A `Outputs.save(filename)` function that automatically creates the file and saves outputs to that. The type has to be automatically inf

[2020-10-13 18:45] Samyak2 opened #74 "[FEATURE REQ] profile parameter in CLI"
**Is your feature request related to a problem? Please describe.**
The CLI does not allow history to be exported from a specific profile (in case of browsers which support them) and the default is to get history from all profiles.

**Describe the solution you'd like**
A `-p`/`--profile` parameter that takes the name of the profile and calls the appropriate functions under `generic.Browser`.

This

[2020-10-13 23:19] rachmadaniHaryono commented on #63
hi, i'm interested in this issue so i make #75, which is still wip

[2020-10-15 17:35] Samyak2 opened #79 "[FEATURE REQ] Use logger instead of print in CLI"
**Is your feature request related to a problem? Please describe.**

When a (known) error occurs in the [CLI](https://github.com/pesos/browser-history/blob/master/browser_history/cli.py), the error message is printed as-is i.e., there is no indication that it is an error. This happens because the errors are printed using a simple `print` statement.

![image](https://user-images.githubusercontent.co

[2020-10-15 17:36] #63 closed

[2020-10-15 17:58] sujanchegu opened #80 "[BROWSER] Support for edge on Linux"
**Describe the browser and provide any links if available**
Browser name: Edge

**List the platforms supported by the browser to be added**
 Platforms: Linux

Additional Context:

https://twitter.com/eMarcusNet/status/1308433470012747777?s=09

https://www.microsoftedgeinsider.com/en-us/

This issue will have to wait until the browser is released. :P

[2020-10-15 17:59] sujanchegu commented on #80
Since Edge support is already present for MacOS and Windows, this should take much time. @Samyak2 tag it with good-first-issue?

[2020-10-15 18:01] Samyak2 commented on #80
Done

[2020-10-15 23:36] RobertWetzler commented on #79
Hi, I'd like to work on this issue. Can you assign it to me?

[2020-10-16 20:20] gauravpandeypes commented on #72
Hi, I would like to work on this issue.

[2020-10-17 03:26] Samyak2 commented on #72
Sure. Go ahead

[2020-10-17 07:27] #79 closed

[2020-10-19 10:29] gillesigot opened #84 "[FEATURE REQ] Code formatter/linter + pre-commit"
**Is your feature request related to a problem? Please describe.**
I usually use Black (https://github.com/psf/black) to format my code and flake8 (https://pypi.org/project/flake8/) to lint it (it covers more cases than pylint). Out of curiosity I ran both of them on current codebase and notice that it could be improved in several ways.

**Describe the solution you'd like**
If you are interested i

[2020-10-19 10:47] Samyak2 commented on #84
That's a great idea!
I was thinking of some way to enforce code formatting. `pre-commit` sounds perfect for this.
You can go ahead and send a PR.

IIRC `flake8` requires some additional config to be compatible with `black` (for example, black allows 88 characters on line while flake8 limits it to 79).

Also, instructions for these will have to be added to `docs/contributing.rst`.

Also note that t

[2020-10-19 11:11] gillesigot commented on #84
Glad to hear that! :+1:
So I think I'll first apply formatting (on `feature-bookmarks` branch) first, to avoid blocking anyone when pre-commit will be enable.

Then I'll add the pre-commit with proper config (indeed what comes up first to my mind is line length, I'll have a look if any other config customization is required) and doc update.

[2020-10-20 10:02] #71 closed

[2020-10-20 10:12] Samyak2 commented on #73
Done in #78

[2020-10-20 10:12] #73 closed

[2020-10-23 12:22] Samyak2 commented on #65
@sadielbartholomew any updates?

[2020-10-23 14:47] sadielbartholomew commented on #65
Hi, I ended up being busier than I expected, but I will prepare the PR over the weekend and put it in on Monday. I will still get it done. Sorry for the delay,.

[2020-10-23 18:05] Samyak2 commented on #65
@sadielbartholomew no issues. Just wanted to know if you were still doing it.
Thank you.

[2020-10-24 06:15] lucasace commented on #55
I'd like to take this up,
This is what my proposed output would be
`name,url,expiry_date,is_secure,isHttpsonly`

If its okay with you, I can start

[2020-10-24 09:58] #84 closed

[2020-10-24 10:01] Samyak2 commented on #55
@lucasace that's good, but what about the cookie content itself?

[2020-10-24 10:35] lucasace commented on #55
My bad , `name,url,value,expiry_date,is_secure,isHttpsonly`
where value has the cookie content

[2020-10-24 15:53] gauravpandeypes commented on #72
I am not able to work on this issue right now.
Could you please assign this to someone else.

[2020-10-24 16:40] Samyak2 commented on #72
Oh okay

[2020-10-28 05:32] sadielbartholomew opened #90 "[TESTS] test_browsers_* outcome is timezone-dependent"
Hi, whilst working to complete a PR (for Issue #65) I noticed that the `test_browsers.py` tests were all failing, though all tests passed for `test_generic` and `test_imports`. The errors reported indicate a datetime mismatch and after some investigation, it seems the failures only occur when the tests are run in specific timezones (see the detail, including outputs, provided below). Overall, this

[2020-10-28 05:35] sadielbartholomew commented on #65
Hi, just to update you, I will be a bit later still with this but I shouldn't take longer than a couple more days to get the PR up. Mainly I am late with it because when I started working on it yesterday I got distracted with some test failures (as raised in #90).

[2020-10-28 05:57] sadielbartholomew opened #91 "[TESTS/DOC] Tests fail trivially when run from `tests/`"
The outcome of `test_browsers` depends on the directory it is run in, returning trivial failures due to the histories fetched being empty when `pytest` is run from the `browser-history/tests/` directory.

Based on what I saw in looking briefly into #90 it seems that in this project the `pytest` command was designed to be run from the `browser-history/` root directory instead, where the tests pass

[2020-10-29 11:17] Samyak2 commented on #91
Thank you for opening this issue. A contributor had run into this issue previously. It would be ideal to make the tests independent of the directory they are run from.

The change would go near this line:

https://github.com/pesos/browser-history/blob/master/tests/utils.py#L13

[2020-10-29 11:48] Samyak2 commented on #90
Hi. Thank you for the very detailed issue. I appreciate the effort put into this.

The hard-coded datetimes have a timezone associated with them, which would be the contributor's timezone. I assumed `datetime` would handle all the comparison between datetimes of different timezones which it does, but it seems to not consider DST?

Yes, that would be great.

---

I can confirm that setting the time

[2020-10-29 16:44] sadielbartholomew commented on #90
Thank you @Samyak2 for your comments and the helpful extra information regarding the issue. (I wouldn't consider it a late response at all, it seemed quick to me so thank you for that.) I have possibly left Hocktobrfest too late this year and if you can't respond in time to the PRs I put in soon that is no problem, I would still like to contribute them regardless as I think this is a great library

[2020-10-29 16:53] sadielbartholomew commented on #91
Thanks for the extra information, @Samyak2. I should be able to fix it by the end of tomorrow (UK time).

[2020-10-29 19:07] Samyak2 commented on #90
That's great. Thank you!

[2020-10-31 15:59] lucasace commented on #55
Sorry for the delay! but unfortunately the delay would have to go for another week
I'll get the PR in by the next weekend if possible

[2020-11-01 09:03] Samyak2 commented on #55
No issues. Thank you for updating.

[2020-11-01 09:13] #91 closed

[2020-11-02 11:46] Samyak2 opened #95 "[BUG] CI Failing"
**Describe the bug**

The CI is currently failing on master. The issues seems to be from codecov.

Logs from GitHub Actions:
[code]

Codecov has not been updated recently, so we can rule out any changes in codecov (for python).

**Expected behavior**

CI should pass if all tests pass (which they are).

**Additional context**

The failures occurred after #92 and #93 were merged.

[2020-11-02 16:00] sadielbartholomew commented on #65
Hi again, just to provide an update, I've missed the chance to complete the PR for this for Hacktoberfest because I was busier than I thought over the weekend, but I still plan to address it.

The unit test is done, so I just need to do the refactor of the CLI to us `argparse` and I am not far from finishing that. However, I am very busy until tomorrow afternoon (my time, UK) so it will be towards

[2020-11-02 16:44] Samyak2 commented on #65
That is okay. Thank you for updating

[2020-11-02 17:02] lucasace commented on #95
@Samyak2
https://github.com/codecov/codecov-bash/issues/146
I dont think this is a issue caused by any PR.
As per [this](https://github.com/codecov/codecov-bash/issues/146#issuecomment-720059101), this issue started affecting repos  since yesterday.
Im not quite sure if they have fixed it yet though

[2020-11-02 18:49] Samyak2 commented on #95
@lucasace thank you for looking into it.

As the issue has been fixed, I'll try re-running the jobs.

[2020-11-07 07:41] lucasace commented on #55
I could use some insights on what the decrypted cookie value should contain
Firefox examples of value : GA1.2.494193081.1602997161 , AJi4QfHGyrvqshYTUlOqnx-OPHe2eAEZU3kBdQDXVM6jUVqY4a09G7pX7P7iqbGvZCAZFm_X8Hs and 2020-10-24-06

Chrome encrypts its cookies using AES Encryption so this is a bit tricky on decrypting
I get
13f79712bf2969f2d2f8685cc6d3cc66 ,  true,
Some decryptions make sense , some do

[2020-11-07 07:58] Samyak2 commented on #95
It works.
Thank you.

[2020-11-07 07:58] #95 closed

[2020-11-07 08:07] Samyak2 commented on #55
That looks like a Google Advertising ID (GAID).

I looked at some values from my installation of firefox and it seems that the values are stored different by each website. Some websites encrypt it while some don't (like the plain date you showed in firefox examples). I don't think we need to decrypt values from firefox as each website would use a different encryption.

---

I wasn't able to get co

[2020-11-07 08:35] lucasace commented on #55
The query is Select encrypted_value instead of select value

[2020-11-07 08:43] Samyak2 commented on #55
According to the answers [here](https://stackoverflow.com/questions/22532870/encrypted-cookies-in-chrome) and [here](https://stackoverflow.com/questions/60416350/chrome-80-how-to-decode-cookies), decrypting this value will be tricky.

According to [this](https://stackoverflow.com/questions/23153159/decrypting-chromium-cookies/23727331#23727331) answer, decrypting it required the user's password.

[2020-11-07 08:53] lucasace commented on #55
I actually found a repo called [browser_cookie3](https://github.com/borisbabic/browser_cookie3) whose code helped me to decrypt it . Decrypted examples are 13f79712bf2969f2d2f8685cc6d3cc66 , true. My question was if u want me to decrypt it further?

[2020-11-07 10:10] Samyak2 commented on #55
Ah, those decrypted examples are good enough IMO, further decryption will be website specific.

I have one concern though, browser-history has zero dependencies other than python and I would like to keep it that way. Using `browser_cookie3` would add a dependency that is only required for a small secondary feature.
The code in `browser_cookie3` also seems to be a little hacky and it repeats the pl

[2020-11-07 10:16] lucasace commented on #55
Aah don't worry, i wont use the library,
I'm just using the decryption code
Some dependencies are OS dependent but i think i can handle them . Only concern is pylint warnings. I'll see about them later though
Also a question what and all should i run before making a PR?
Pylint pytest i know
Anything else?

[2020-11-07 10:52] Samyak2 commented on #55
That's great.

A pre-commit hook was added in #88. From the [contributing guidelines](https://browser-history.readthedocs.io/en/latest/contributing.html):

(You might have to do `pip install pre-commit` if it isn't installed)

The pre-commit hook uses flake8 to check code and black to re-format it. It ensures that we don't waste too much time discussing about the formatting. You can run all the ch

[2020-11-08 09:01] #90 closed

[2020-11-08 14:17] #62 closed

[2020-11-08 17:55] ObaraEmmanuel opened #96 "[FEATURE REQ]fetch history and bookmarks from default browser"
**Is your feature request related to a problem? Please describe.**
Currently, it is possible to specify a specific browser or even all browsers but it would be interesting if you can specify that history and/or bookmarks be fetched from the default browser in use. This would most probably provide the most credible and recent history. I understand fetching from all browsers would work too but fetch

[2020-11-08 18:09] Samyak2 commented on #96
Good idea!
The [webbrowser](https://docs.python.org/3/library/webbrowser.html) module can help with this (wow python has too many inbuilt modules xD).

[code]

The above code gave `firefox` which is my default browser. It needs to be tested for other browsers too.

[2020-11-08 18:37] ObaraEmmanuel commented on #96
In windows `c` is a `webbrowser.WindowsDefault` object and the `name` attribute is an empty string 😅!

[2020-11-08 18:52] Samyak2 commented on #96
For windows, I found these SOF questions:

[Question 1](https://stackoverflow.com/questions/32681951/how-to-get-name-of-the-default-browser-in-windows-using-python)

[Question 2](https://stackoverflow.com/questions/53926506/how-to-get-default-browser-name-using-python)

Though I haven't tested these.

[2020-11-09 03:23] Samyak2 opened #97 "[FEATURE REQ] Add codeclimate maintainibilty badge to README"
**Is your feature request related to a problem? Please describe.**

browser-history has been added to [codeclimate](https://codeclimate.com/github/pesos/browser-history). It would be nice to have the maintainability badge in the README along with the other badges.

**Describe the solution you'd like**

The maintainability badge from [here](https://codeclimate.com/github/pesos/browser-history/badge

[2020-11-09 10:06] ObaraEmmanuel commented on #96
[code]
The solution in [Question 2](https://stackoverflow.com/questions/53926506/how-to-get-default-browser-name-using-python) sorta works as you can see above. `ChromeHTML` is a weird name and would need us to preprocess. I was able to map out as many of the browsers on windows as I could:

|  Browser         | Registry value |
| --------------- | --------------- |
| Chrome          | ChromeHTML

[2020-11-10 03:58] lucasace commented on #55
Some of my [tests](https://github.com/lucasace/browser-history/actions) are failing due to the decryption imports , I couldnt find a requirements.txt file so a little blank on that,
Also for mypy check do i create a [typeshed](https://github.com/python/typeshed) and add stubs for the imports ?

[2020-11-10 06:26] Samyak2 commented on #96
Thank you for mapping out those values.

It indeed looks like a jungle haha, this feature will need quite a bit of manual work and some tricks.

Do you want to take up this issue? xD

[2020-11-10 06:31] Samyak2 opened #102 "[BROWSER] Vivaldi browser support"
**Describe the browser and provide any links if available**

Browser name: [Vivaldi](https://vivaldi.com/)

It is based on chromium, should be easy to add support for this. Refer #48, #41, #24

**List the platforms supported by the browser to be added**

 - [ ] Windows
 - [ ] Linux
 - [ ] Mac OS

[2020-11-10 06:42] Samyak2 commented on #55
I want to keep browser-history a zero-dependencies project. That is the reason there's no requirements.txt file. As I said earlier in this thread:

Avoid importing an external library at the top. You can add the requirements in a `optional-requirements.txt` file (so that it may not be thought of as actual dependencies).

This should fix the failing tests as you're not using cookies in the tests.

[2020-11-10 07:06] lucasace commented on #55
So in the workflow files do i add a pip install -r optional-requirements.txt file ?
and try except Import Error for those packages in browser.py?

[2020-11-10 07:08] lucasace commented on #55
Yuup, its failing on both my system terminal and tests,
I did do a PR on of the repos which used mypy recently in that they used typeshed, do i do it?

[2020-11-10 07:42] Samyak2 commented on #55
Yes. The modules have to be imported when you need them i.e., when that function (`Chrome.cookies_parser`) is called and raise an appropriate error indicating which packages have to be installed.

[2020-11-10 07:46] Samyak2 commented on #55
If I understand it correctly, the `pbkdf2` package does not have type hints which mypy needs, right?.

I couldn't find that module in [typeshed](https://github.com/python/typeshed), so are you suggesting manually adding types to it?

[2020-11-10 07:58] lucasace commented on #55
Yuup, i can add it using stubgen

[2020-11-10 08:07] Samyak2 commented on #55
That's great. The generated stub file will be included in this repo?

[2020-11-10 10:58] ObaraEmmanuel commented on #96
No problem, I will begin researching and working on it. We'll need a lot of collaborative effort to ensure it works on as many platforms as possible though.

[2020-11-10 14:42] lucasace commented on #55
It has to be added manually once the type hints are generated but yeah, a example would be [cwltool](https://github.com/common-workflow-language/cwltool)

[2020-11-11 11:59] Samyak2 opened #104 "[REFACTOR] add abstract classes for Chromium based browsers"
**The issue**

Currently, the `Chrome` class implements all functionality of Chromium based browsers. These browsers selectively use attributes of the `Chrome` class. This not only violates OOP principles but also leads to some amount of code repetition. The `browsers.py` file is quite large with methods such as `bookmarks_parser` taking nearly 100 lines of code, this can hinder the experience of

[2020-11-11 12:19] Samyak2 opened #105 "[REFACTOR] fetch_map is overcomplicated"
**The issue**

[`fetch_map`](https://github.com/pesos/browser-history/blob/master/browser_history/cli.py#L90) used in the CLI is defined like this:
[code]

The `var` key of the nested dict is not required since only one of `history` and `bookmarks` can be retrieved at a time. This can be replaced with a single variable to store the output.

**Solution**

Add a variable `outputs` to store the outpu

[2020-11-12 16:08] ObaraEmmanuel commented on #104
I have been looking at this and think we should add a `ChromiumBasedBrowser` class to `generic.py`. This, I think resonantes more with the sense that `ChromiumBaseBrowser` is in fact a generic abstract type. I don't know about `FirefoxBasedBrowser` because there are very few of those and they are not very conventional browsers (something like Tor doesn't store any application level data). We could

[2020-11-12 16:46] Samyak2 commented on #104
I don't think this should go to `generic.py` because that is already over 600 lines. Making a browser utils module to store this sounds better to me.

That's a good point. Firefox based browsers aren't popular. The reason I wanted to make a separate class was because the `Firefox` class was quite large with functions like `bookmarks_parser` that make it look very complicated (more so in #103 which

[2020-11-12 17:09] ObaraEmmanuel commented on #104
I added the `ChromiumBasedBrowser` real quick to `generic.py` and it added up to 606 lines. `generic.py` is curently only 528 lines. Putting this class in `utils` would not make sense structurally. `ChromiumBasedBrowser` class is and will be a core functionality and not really a utility.

To reduce the size of the file we could break up heavy functionality to mixins and move them to separate files

[2020-11-12 17:43] lucasace commented on #104
But wont the bookmark parser in `Firefox` still be violating the OOP principle?
Where do we place that?

[2020-11-12 17:46] Samyak2 commented on #104
Right, I was looking a different branch :smile:

Good point, it shouldn't be in utils but I want to break it up in some way.

I'm not sure how we'll use mixins here, but yes this should be broken into separate files. `generic` isn't a great name, we should split into different modules.

[2020-11-12 17:48] Samyak2 commented on #104
I don't think that violates OOP as it's not used anywhere else. (Not sure about this)

[2020-11-12 17:58] lucasace commented on #104
Just a suggestion
`Helpers` part usually contain most of the core functionalities
Maybe make a `helpers.py` file
A lot of future functions may go there too

[2020-11-13 14:47] Lyro1 commented on #56
Hello. Just to do a quick follow-up there:

This issue is not fixed. I am under **macOS Catalina 11.0.1**, and the database file exists and seems to be correct. However, I can't access it from the terminal, even a `sudo cat /Users/my-username/Library/Safari/History.db` raises an `Operation not permitted` error...

[2020-11-13 14:55] Lyro1 commented on #56
Just found the solution for me: the terminal did not have full-disk access. Just open your Settings > Security > Confidentiality > Full-disk access and check the box for terminal. Close the terminal and open again, this should do the trick !

[2020-11-18 09:36] ayushontop commented on #97
I think issue is solved, close it .

[2020-11-18 10:12] Samyak2 commented on #97
Right, thank you for bringing this to my atttention.

[2020-11-18 10:12] #97 closed

[2020-11-19 12:39] ObaraEmmanuel opened #107 "[BUG]Error fetching bookmarks from Opera on Windows"
**Describe the bug**
Trying to fetch bookmarks from Opera throws the error below:
[code]

**To Reproduce**
Run the command
```browser-history -b opera -t bookmarks```
or even
```browser-history -t bookmarks```

**Expected behavior**
Should return the bookmarks in opera in CSV format

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser Opera
 - `browser-history` Ve

[2020-11-19 17:14] Samyak2 commented on #65
Any updates?
I wanted to have these tests ready for the 0.3.0 release. So if you have any progress on this, feel free to open a draft PR so I can take a look and contribute to it.

[2020-11-19 19:15] sadielbartholomew commented on #65
Ah, very sorry @Samyak2 this fell off my radar. I'll try to finish tonight but regardless I will put up a PR, draft or otherwise. Thanks.

[2020-12-07 14:18] Samyak2 opened #110 "Rename mypy test workflow"
**Is your feature request related to a problem? Please describe.**

The [mypy test workflow](https://github.com/pesos/browser-history/blob/master/.github/workflows/python-mypy.yml) has the `name` field set to `tests` which is the same as the other tests. This can become confusing when one test passes (which is actually the mypy test) and others don't (which are the actual tests) on a PR.

**Descri

[2020-12-07 15:35] Samyak2 opened #111 "[FEATURE REQ] Add python 3.9 to test workflow"
**Is your feature request related to a problem? Please describe.**

The tests GitHub actions workflow currently uses python versions 3.6, 3.7 and 3.8. Since 3.9 was released a few months ago and `browser-history` works well on it, we should add 3.9 to the test workflow to ensure that it stays that way.

**Describe the solution you'd like**

Add `3.9` to the `python-version` list here:

https://git

[2020-12-08 10:42] #104 closed

[2020-12-08 11:12] Samyak2 commented on #107
Would it possible for you to add a sample of the history JSON file or the `b_m` dictionary here? If they aren't privacy infringing ofcourse.

The `b_m` dictionary is from here:
https://github.com/pesos/browser-history/blob/41b8539c5e42c470ddba11f79e1361387f449dfb/browser_history/generic.py#L587-L589

It would help us in debugging.

[2020-12-08 20:52] ObaraEmmanuel commented on #107
Its a huge object to type out here so here's the json file

[dump.zip](https://github.com/pesos/browser-history/files/5661861/dump.zip)

[2020-12-09 13:29] #42 closed

[2020-12-10 02:20] RajawatAmit commented on #111
I'm happy to work on it.

[2020-12-10 06:24] Samyak2 commented on #111
You can go ahead and send a PR!

[2020-12-10 07:35] Samyak2 commented on #110
Fixed by #113

[2020-12-10 07:35] #110 closed

[2020-12-10 15:18] #111 closed

[2020-12-10 23:45] RajawatAmit commented on #105
Let me know if I can pick up this issue.

[2020-12-11 03:25] Samyak2 commented on #105
Sure, go ahead!

[2020-12-11 12:23] lucasace opened #118 "[TESTS] Need tests for bookmarks"
Currently, tests test only histories
Tests for bookmarks need to be built as well

# Required Tests

## Browsers
  | Platform | Linux | Mac | Windows
-- | -- | -- | -- | --
Browser |   |   |   |  
Firefox |   |  :x: | :x:  | ❌   
Chrome |   |  ❌  | ❌    |:x:  
Chromium |   |:x:   | ❌   | ❌  
Safari |   |  🔲 |  🔲  | 🔲 
Edge |   |🔲 | ❌   | ❌   
Opera |   |  ❌  | ❌   | ❌  
Opera GX |   |  🔲 |   🔲|  ❌

[2020-12-11 18:06] #107 closed

[2020-12-11 18:07] Samyak2 commented on #118
Just to confirm, :black_square_button: means the browser isn't supported for bookmarks, right?

[2020-12-11 18:29] lucasace commented on #118
Yup, but not entirely it also means that the Browser is not available in that OS, Ex Safari in Linux

[2020-12-23 18:24] #105 closed

[2020-12-25 17:42] anirudhRowjee opened #120 "[BUG] Breaking Changes to docs not notified to users who `pip install`"
**Describe the bug**
The docs for the master branch do not notify the users who install the program via `pip install` that the documentation for the latest release is not up to date. This issue would fix that. This is necessary as the latest release features breaking changes.

[2021-01-01 11:22] #120 closed

[2021-01-01 19:33] ObaraEmmanuel commented on #52
Did some research and the only way this is possible without introducing a dependency is locating the esent.dll library and loading it using ctypes. Even then you would need to have an insight to how the ESE even works. Internet explorer only exists on Windows so no need to worry about other platforms. Thought I should mention this just in case anyone ever wants to fix this. It's still too much wor

[2021-01-08 14:02] ObaraEmmanuel opened #122 "[FEATURE REQ] History and Bookmark filters"
**Is your feature request related to a problem? Please describe.**
It's normally overwhelming fetching history data from a browser that is actively used. It would help to have functionality that allowed the data to be filtered along criteria such as domain, time, folder (for bookmarks), and even protocol.

**Describe the solution you'd like**
A way to filter and access filtered data programmatical

[2021-01-09 04:05] #65 closed

[2021-01-23 04:09] Samyak2 opened #124 "[BUG] CLI should show only the error instead of full traceback when given browser is not supported"
**Describe the bug**

When a particular browser is passed through the `-b`/`--browser` flag and if the browser is not supported on the current platform, a full python traceback is shown which is not ideal.

Example:
[code]

This is too verbose for CLI users.

**To Reproduce**
Steps to reproduce the behavior:
1. On windows or Linux, run the following `browser-history -b safari`. On MacOS, `browser-

[2021-01-23 04:22] anirudhRowjee commented on #124
could I work on this?

[2021-01-23 04:24] Samyak2 commented on #124
Sure!

[2021-01-25 04:04] OBITORASU commented on #102
Can you please check the PR I made for this issue? I had to close the previous PR due to poor testing on my end, but the new PR seems to pass all the checks and Vivaldi support worked on my local machine (Linux) after the modifications.

[2021-01-25 10:54] #102 closed

[2021-01-26 05:24] OBITORASU opened #127 "[BROWSER] Support for Librewolf"
**Describe the browser and provide any links if available**

Librewolf is a privacy oriented browser based on Librefox which in turn is based on Firefox.
Browser name: [Librewolf](https://librewolf-community.gitlab.io/)

**List the platforms supported by the browser to be added**
 Platforms:
 - [ ] Linux (#165)
 - [ ] Mac OS

**Additional Context**
Librewolf has become increasingly popular after M

[2021-01-26 05:43] Samyak2 commented on #122
This is a good idea, but I feel this will make the API much more complex. For domains we will need to search for the query in every URL, for time we need to support various queries (before, after a specific time; in a given day, month, year; etc.).

Since we already allow the data to be exported in various formats, other tools which are better suited for this job can be used. For example, pandas h

[2021-01-26 05:44] Samyak2 commented on #127
Do you want to take this up?

[2021-01-26 05:48] OBITORASU commented on #127
I would prefer to keep this open and see if anyone new wants to contribute, else I might give it a shot myself.

[2021-01-26 05:53] Samyak2 opened #128 "[BUG] `utils.py` and `__init__.py` are ignored by codecov"
**Describe the bug**

Codecov only tracks 3 files in the `browser_history` module - `cli.py`, `browsers.py` and `generic.py` ([ref](https://codecov.io/gh/pesos/browser-history/tree/master/browser_history)). While these are the most important files of the project, a lot of code is also present in `utils.py`. This file is ignored by codecov ([ref](https://codecov.io/gh/pesos/browser-history/commit/8

[2021-01-26 10:31] Samyak2 commented on #80
Since Microsoft Edge (Preview) is now on [Linux](https://www.microsoftedgeinsider.com/en-us/), this can be taken up. Edge is gaining popularity very quickly, we should add support soon.

[2021-01-26 12:49] #96 closed

[2021-01-27 05:47] ObaraEmmanuel commented on #122
Yeah, listened to the lecture and saw the same. Most of those functions are implementation details and can be made private. But that is a breaking change.  Also, most of the filter functionality would go to the output object unless you want to filter directly using the SQL query

[2021-01-27 06:16] Samyak2 commented on #122
Yes, it shouldn't be a major breaking change since those functions are not supposed to be used directly anyway. Also we do not have a stable 1.0 API yet, so it should be ok.

Oh right. That seems like a good idea, but we still have to take care of the filter language/format, etc.

[2021-01-27 07:16] #80 closed

[2021-01-27 17:35] ObaraEmmanuel commented on #122
For history we can have filters for:
* domain
* timestamp (year, day, day of week, month filters among others)
* keyword
* protocol

As for the CLI filter format I haven't thought of anything yet. Maybe something like `"year=2020&protocol=http&keyword=python"` or `"year=2020,protocol=http,keyword=python"` passed through the `--filter` option

[2021-01-27 17:43] ObaraEmmanuel commented on #128
It's not even possible to rename `__init__.py` :laughing:

[2021-01-28 02:52] Samyak2 commented on #122
That latter format ( `"year=2020,protocol=http,keyword=python"`) seems quite good. I thought we'd need to also handle other relational operators (`>`, `<`, `<=` and something like `2015<year<2020`), but this seems sufficient.

Those can be arguments to a `filter` function in `Outputs` which can be called from the CLI.

[2021-01-28 16:21] ObaraEmmanuel commented on #122
I had not thought of this. Relational operators are very necessary for numeric filters. We should include them. Parsing this shouldn't be too hard.

[2021-01-29 08:24] Samyak2 commented on #122
Right, the basic operators shouldn't be too difficult.

[2021-01-29 08:37] ObaraEmmanuel commented on #74
I will look at this in the course of this week

[2021-02-05 08:22] Samyak2 commented on #128
Look like it will be a while until it is fixed - https://community.codecov.io/t/bug-matching-filename-in-another-directory-cause-a-file-to-be-ignored/2256/11?u=samyak

[2021-02-08 14:23] #74 closed

[2021-03-06 03:56] lucasace commented on #128
@Samyak2 https://community.codecov.io/t/bug-matching-filename-in-another-directory-cause-a-file-to-be-ignored/2256/12

You might want to check the above link

[2021-03-06 17:18] Samyak2 commented on #128
It's fixed! :tada:  `__init__.py` and `utils.py` show up in the directory ([example](https://codecov.io/gh/pesos/browser-history/tree/75c2b58602ea1e51bbfe906666840bbe78aaa34a/browser_history)).

But it looks like the coverage isn't very good on [`utils.py`](https://codecov.io/gh/pesos/browser-history/src/75c2b58602ea1e51bbfe906666840bbe78aaa34a/browser_history/utils.py).

[2021-03-06 17:18] #128 closed

[2021-03-21 02:45] Samyak2 commented on #124
Any updates?

[2021-04-01 10:36] ObaraEmmanuel commented on #124
@Samyak2 I think we've allowed enough time for this. We should go ahead and fix it. I can get a patch ready by end of day

[2021-04-01 12:13] Samyak2 commented on #124
Thank you @ObaraEmmanuel. I'll assign the issue to you.

[2021-04-01 13:53] ObaraEmmanuel commented on #124
The issue goes deeper than i thought. `utils.get_browser` returns the browser class regardless of whether it is implemented on the current system. I don't know if I should modify `utils.get_browser` to return `None` if browser is not implemented on current platform or create a new fucntion. The latter might add more stuff to utils which is not favorable and the former might break backwards compati

[2021-04-01 14:06] Samyak2 commented on #124
I think we should do this. We can try including this change in `0.4.0` where we'll have some more breaking, but required, changes.

[2021-04-01 14:44] ObaraEmmanuel commented on #124
so i should modify the functionality of `utils.get_browser` ?

[2021-04-01 15:00] Samyak2 commented on #124
Yes

[2021-04-03 13:41] #124 closed

[2021-04-11 22:36] FlxVctr opened #139 "Cannot open sqlite databases for Safari and Firefox when in Python 3.8 venv"
**Describe the bug**
Cannot open sqlite databases for Safari and Firefox when in venv (created by Pipenv).

**To Reproduce**
Steps to reproduce the behavior:
1. Create pipenv with Python 3.8(.7/.9)
2. install browser-history
3. run `browser-history -b Firefox` or `-b Safari`
4. See error `sqlite3.OperationalError: unable to open database file`

**Expected behavior**
See the history.

**Desktop (pl

[2021-04-12 03:46] Samyak2 commented on #139
That's weird. I'm not sure why pipenv would make it fail (although I have not used it before, so I'm not aware of the nuances of it). Could you try the following?

- close all open browser windows and run the tool only when there is no browser running in the background
- try the version from the current master branch. Command to install is [here](https://browser-history.readthedocs.io/en/latest/qu

[2021-04-12 20:20] FlxVctr commented on #139
So I did some more digging, and the problem is apparently not the virtualenv, but might be with Python 3.8(.9, installed with pyenv and then used in pipenv). Pipenv with 3.9(.4) works. Sadly, for 3.9 there are install issues for another dependency I have in the project I am working on. Might there be something incompatible betweet 3.8's sqlite implementation and the Firefox DB?

[2021-04-13 14:47] FlxVctr commented on #139
Storage is not an issue, btw.

[2021-04-13 15:22] Samyak2 commented on #139
That could be a reason. Another culprit I could think of is [`tempfile.TemporaryDirectory()`](https://docs.python.org/3/library/tempfile.html#tempfile.TemporaryDirectory) used [here](https://github.com/pesos/browser-history/blob/master/browser_history/generic.py#L265). It could be a permission issue with Mac OS. I have an older Mac OS system (Mojave) that I will test on later today or tomorrow.

W

[2021-04-13 15:26] Samyak2 commented on #139
On Mac OS (Mojave), Firefox and Safari both work in a 3.7.3 installation. Will check on 3.8 through pipenv later.

[2021-04-13 15:46] FlxVctr commented on #139
The code above runs smoothly in 3.8.9.

[2021-04-13 16:00] FlxVctr commented on #139
Arrgh, actually it does not, sorry. Got lost in environments. But it also does not work with 3.7. So it seems to be something about my weird system.

[2021-04-13 16:28] FlxVctr commented on #139
So, it works in a pipenv with 3.8.9, but not in my projects environment. So has to be some conflict with another package. Sorry for bothering you. Might not be a problem on your side. I'll investigate further, but feel free to close this,

[2021-04-13 16:56] FlxVctr commented on #139
Sorry, have to correct myself again, it does not work in 3.8.9. Only if I opened it before with brew-installed 3.9.4 and the -wal and -shm files are still there. If I delete those, neither pipenv/pyenv-installed Python 3.8 nor 3.7 can execute the sqlite code above.

[2021-04-13 17:23] Samyak2 commented on #139
I did some more testing on the Mac OS system and was able to reproduce the issue on a pipenv environment with python 3.8.9.

The issue most likely is that the temporary directory made by `tempfile.TemporaryDirectory()` isn't writable by SQLite for some reason.

After scourging the [sqlite documentation](https://www.sqlite.org/uri.html), I found a potential fix that seems to work. I changed [this l

[2021-04-13 17:28] FlxVctr commented on #139
The test script works with that adoption.
As does using the file path instead of the URI.
Is there a reason to open it in ro mode, except for good practice?

[2021-04-13 17:58] Samyak2 commented on #139
Good to know!

Do you mean it works without the `ro` flag?

IIRC there was an issue on Windows without it, I don't remember now xD. Since we don't need write access, it works as a good practice.

[2021-04-13 18:07] Samyak2 commented on #139
The URI instead of file thing was added in the [first code commit](https://github.com/pesos/browser-history/commit/42533ac36fe87dc02b6a86b0f998b2406d7e999f), so I'm really not sure why it was added. If the tests work, we can consider reverting it to just the file path.

[2021-04-13 18:09] FlxVctr commented on #139
Already gone with the URI for the PR

[2021-04-13 18:09] FlxVctr commented on #139
But feel free to change anything or to scrap it.

[2021-04-13 18:15] FlxVctr commented on #139
macOS being funny with its pre-installed sqlite3 binary (most likely outdated). Or requiring something like 'Full Disk Access' permissions. But tbh, really no clue.

[2021-04-13 18:22] Samyak2 commented on #139
Ah okay, that makes sense. Does it mean that python uses that binary internally? Since the sqlite3 module is supposed to be a C implementation of sqlite, I don't know if having it depend on the binary makes sense.

[2021-04-13 18:30] #139 closed

[2021-04-14 16:57] FlxVctr commented on #139
I'd think it simply uses the binary it finds on your PATH first. But just guessing here, don't know the sqlite package except for using it. Thanks for merging the PR. When would you expect the next release on PyPI? (Asking to decide whether it makes sense to wait or to find out how to git install in beeware).

[2021-04-14 18:26] Samyak2 commented on #139
I was planning to make a release soon, but that will take a couple of days. The earliest I can do is tomorrow night (that is 20-24 hours from now). Let me know if that works.

[2021-04-14 19:19] FlxVctr commented on #139
No rush, project is in early stages. Just checking feasibility.

[2021-04-14 19:26] Samyak2 opened #142 "[DOC] contributing guidelines are missing `python-dateutil` dependency install"
# The Issue

The [contributing guidelines](https://browser-history.readthedocs.io/en/latest/contributing.html) (the file can be found [here](https://github.com/pesos/browser-history/blob/master/docs/contributing.rst)) have missed a development dependency in the 1st section, 2nd point.

The missing package is `python-dateutil`, without which the tests will fail.

# Solution

Add `python-dateutil` t

[2021-04-14 19:30] Samyak2 commented on #139
Haha, that's okay. A release has been overdue for a while now. There have been around 10-15 PRs since the last release.

[2021-04-18 10:50] Samyak2 commented on #139
I've made a new release ([v0.3.1](https://github.com/pesos/browser-history/releases/tag/v0.3.1)). Let me know if this fixes your issue and sorry for the delay!

[2021-04-21 16:30] FlxVctr commented on #139
Already worked with the github version. Seems to work now also with the Pypi version. Thanks! And no worries. Not a paying customer ;)

[2021-04-21 16:31] Samyak2 commented on #139
Good to know!

[2021-05-23 21:35] ObaraEmmanuel opened #148 "[BUG] Publish workflow won't trigger correctly if release is first drafted"
**Describe the bug**
If you draft and save a release first before publishing it, trying to publish it later will not trigger the pypi publish workflow. Its because it's using `type: [created]` instead of the better trigger `type: [published]`

**To Reproduce**
Steps to reproduce the behavior:
1. Draft a release
2. Save the draft release
3. Publish the release

**Expected behavior**
Release should

[2021-05-24 05:00] Samyak2 commented on #148
I had not tried drafting a release yet. Thank you for opening this issue!

[2021-06-07 08:43] Samyak2 commented on #127
Since no one else has taken this up yet, do you want to try?

[2021-06-07 09:19] OBITORASU commented on #127
I did try to work on this somewhere back in April or May, but it took forever to compile librewolf on my Arch workstation via the AUR. I think I will skip on this one as testing might be an issue since compiling takes such a long time.

[2021-06-07 10:11] Samyak2 commented on #127
Oh damn, okay👍

[2021-06-08 12:35] avnish100 commented on #142
hey! can i work on this?

[2021-06-08 13:11] Samyak2 commented on #142
Sure!

[2021-06-10 18:11] #142 closed

[2021-09-20 08:20] Samyak2 opened #160 "[DOCS] Add example applications"
**Is your feature request related to a problem? Please describe.**

The documentation has a quick start and a small usage section, but it lacks a complete example of something that browser-history can be used for.

**Describe the solution you'd like**

At least one example script that can be run directly to show what one can do with browser-history. Some examples:
 - A python script to show the to

[2021-09-20 08:46] Samyak2 opened #161 "We need a logo!"
browser-history will soon be moved to a brand new organization (https://github.com/browser-history). We'll need a logo for it.

## Requirements

Doesn't have to be anything fancy, even a simple one will do.

A square-ish image will be ideal for the organization logo.

---

You will be credited in the README, in the docs and wherever else the logo will appear :heart:

[2021-09-20 08:56] Samyak2 opened #162 "[FEATURE REQ] ASCII art in CLI"
**Is your feature request related to a problem? Please describe.**

The CLI `--help` section is a little boring

**Describe the solution you'd like**

Add browser-history ASCII art in the CLI description. An example of what the ASCII art can look like: https://patorjk.com/software/taag/#p=display&f=ANSI%20Shadow&t=browser-history (it must be readable).

It will have to be added here:

https://gith

[2021-09-20 11:45] Agent-Hellboy commented on #127
working on this issue as part of the PyCon India 2021 sprint.

[2021-09-20 12:16] aayush-jaiswal commented on #162
I will work on this

[2021-09-20 12:21] ObaraEmmanuel opened #163 "[CLEANUP] Use setup.cfg instead of separate config files"
Currently, the root of the project is bloated with configuration files such as

- [.flake8](.flake8)
- [.coveragerc](.coveragerc)
- [.pylintrc](.pylintrc)
- [pytest.ini](pytest.ini)

Most of these configurations can be provided through a unified `setup.cfg` but there is a catch, you need to do a little research from the vendors of the specific tools that need these configurations. For instance,
`p

[2021-09-20 13:29] Agent-Hellboy commented on #127
please check #165

[2021-09-20 13:39] nerdishhomosapein commented on #148
I am working on this issue.

[2021-09-20 15:13] #148 closed

[2021-09-21 08:29] #162 closed

[2021-09-21 14:41] #127 closed

[2021-09-23 15:28] xames3 commented on #163
Hello @Samyak2 and @ObaraEmmanuel, I would like to work on this issue.

[2021-09-23 15:32] Samyak2 commented on #163
@xames3 sure, go ahead!

[2021-09-24 16:00] xames3 commented on #161
What do you think of this? Made a quick one in Photoshop.
![browser-history](https://user-images.githubusercontent.com/90549089/134705259-a6404c2f-c3d0-4765-8e26-06936d743d63.png)

[2021-09-25 07:51] Samyak2 commented on #161
@xames3 that looks quite good! Thank you :heart:

Do you mind sending a PR adding this logo (a `logo.png` in the root folder will do) and adding yourself in the README (make a "Credits" section just before the license)?

Also, could you confirm that none of the graphics used are copyrighted?

[2021-09-25 10:48] xames3 commented on #161
I've made some minor modifications to the original one.

![browser-history](https://user-images.githubusercontent.com/90549089/134768716-67ee6185-10c0-4358-aaf1-5b91cc05b395.png)

Thanks for giving the credit! :heart: I've raised a PR for the same, also I confirm that no graphic used here were copyrighted and are made from scratch. Here's the PSD file ([browser-history-logo.zip](https://github.com

[2021-09-25 17:26] #161 closed

[2021-09-25 17:35] xames3 commented on #163
Do we still need to keep this issue open @Samyak2?

[2021-09-25 18:32] Samyak2 commented on #163
Fixed via #167

Thanks for noticing

[2021-09-25 18:32] #163 closed

[2021-10-04 17:46] Samyak2 opened #169 "[DOC] Update copyright year"
**Is your feature request related to a problem? Please describe.**

The [documentation](https://browser-history.readthedocs.io/en/latest/) footer still says `2020`

**Describe the solution you'd like**

Change 2020 to 2021 here:
https://github.com/pesos/browser-history/blob/4c81575fa2e1404952aa7bc465553492ea902074/docs/conf.py#L22

[2021-10-04 17:54] Simba-97 commented on #169
Hey @Samyak2 I would like to do a PR on this issue.

[2021-10-04 19:01] MuckHub commented on #169
@Samyak2 Can I work on this one please? First time for me :)

[2021-10-05 00:06] Kalingrowo commented on #169
thank you for the issue ( clues ),
i get the gist of pull request on public repo

[2021-10-05 11:54] Samyak2 commented on #169
Closed via #170

[2021-10-05 11:54] #169 closed

[2021-10-10 10:48] ayushkumar1610 commented on #160
Hi @Samyak2,
I liked your idea of providing some samples which can demonstrate the uses of browser-history. I liked your suggestion to show the top 10 visited websites of the user. So, can I work on this?

Thanks

[2021-10-10 12:26] Samyak2 commented on #160
@ayushkumar1610 Sounds great! You can go ahead with it.

[2021-10-10 13:00] gillesigot commented on #22
Hey, I just added some testing for **generic.py**.  I see that **utils.py** is missing some coverage, I can also work on it if that's ok?

[2021-10-17 17:13] #22 closed

[2022-05-21 19:47] Samyak2 opened #191 "Consider using Google doc string format"
**Is your feature request related to a problem? Please describe.**

`browser-history` currently uses sphinx's reST format for docstrings which
- can be a bit hard to read before rendering it (while editing, reading the code, etc.)
- can be repetitive
- type is redundant when type annotations exist

**Describe the solution you'd like**

 - [ ] Convert existing docstrings to [Google style](https://g

[2022-05-22 11:17] Samyak2 opened #192 "Make CI better"
# Current situation

There are 3 separate CI workflows: https://github.com/browser-history/browser-history/tree/86ba3fe335d10c3cc54335a3b12d418623cae92e/.github/workflows

Even among the 3, many things are not checked. `python-package` checks using pylint but not flake8 (we use both). Formatting via `black` is not checked.

# Solution

Have a single `ci.yml` (or `push-or-pr.yml`) that checks:
- [

[2022-07-31 11:44] assenzostefano opened #202 "[FEATURE REQ] View active tab"
**Is your feature request related to a problem? Please describe.**
I am creating a small project to practice Python, in practice if we visit YouTube (or other sites) it automatically turns off the PC (it serves to not distract people while they are working).

**Describe the solution you'd like**
It would be useful to add to the library the possibility to write the currently active tabs (of the var

[2022-07-31 13:21] Samyak2 commented on #202
Thank you for the suggestion.

Although, I don't think this is appropriate for this project. `browser-history` queries the databases of browsers to get history, bookmarks, etc. This usually only works when the browser is inactive (closed). Getting the list of active tabs is a whole another problem, not intended to be solved by this package.

I think this is more appropriate for a browser extension

[2022-07-31 13:56] assenzostefano commented on #202
Thanks a lot, I guess I'll have to learn JS.

[2022-07-31 13:56] #202 closed

[2022-08-01 19:42] KeparYTbcc opened #204 "Output is bugged when i do "to.json()""
**Describe the bug**
basically i want to jsonify to "PrettyPrint" it, and it seems to not working

**To Reproduce**

[code]

output:
`====================================================`

but entries:
`all my history`

[2022-08-02 09:27] Samyak2 commented on #204
This is definitely a bug, I can reproduce it. But it's easy to workaround it by simplifying it. `get_history()` returns an `Outputs` object already, you do not need to make a new one.

[code]

---

Also, you have a bug in this line: `mwssage += "Visited-date:", str(item["Timestamp"])+'\n'`. You have used a comma in place of a `+`.
Here's a working version of your code:
[code]

[2022-08-17 07:10] mwilco03 opened #206 "[BROWSER] Internet Explorer"
** Describe the browser and provide any links if available **
Browser name: Internet Explorer

** List the platforms supported by the browser to be added **
 Platforms: Windows

Saw this: https://github.com/browser-history/browser-history/issues/52
Understood, however I went ahead and made class/functions to pull history from registry entries.
I'll be able to put together favorites in a few days o

[2022-08-17 09:47] Samyak2 commented on #206
This is really good! Can you open a pull request? It makes it easier to review the additions/changes. We can work on it together to make any improvements on it.

[2022-08-17 14:37] mwilco03 commented on #206
TYVM! I would absolutely be happy to.